<div class="content container-fluid">
  <div class="container-fluid">
    <%= form_for(@secondarySchoolUser, :url =>  update_secondary_school_user_path(@user.id)) do |f| %>

    <% end %>
  </div>
 </div>

<%= javascript_pack_tag 'edit_user_contact' %>

<script type="text/javascript">
</script>
