<div class="content container-fluid">
  <div class="container-fluid">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              Thông tin cơ bản
            </h3>
          </div>
          <%= render "form" %>
        </div>
      </div>

      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              Thông tin gia đình
            </h3>
          </div>
          <%= render "form_relationship" %>
        </div>
      </div>

      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">
              Thông tin liên lạc
            </h3>
          </div>
          <%= render "form_user_contact" %>
        </div>
      </div>
    </div>
  </div>
</div>
