<p>Xin chào <%= @resource.email %>!</p>

<p>Đã có 1 yêu cầu thay đổi mật khẩu trang web www.thptbinhhunghoa.edu.vn của bạn. Nếu là bạn yêu cầu đổi mật khẩu, vui lòng bấm vào đường liên kết sau:</p>

<p><%= link_to 'Đổi mật khẩu', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu không phải bạn yêu cầu đổi mật khẩu, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi cho đến khi bạn bấm vào đường liên kết và thực hiện các bước tiếp theo.</p>

<p>Trân trọng.</p>
<p>Phòng Tham Vấn Học Đường.</p>
